body {
    background-color: beige;
}

.homepage-heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul, a {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

.container {
    text-align: center;
}

.recipe-list {
    display: inline-block;
    width: 300px;
    padding: 20px;
    
    border: double 4px brown;
    text-align: center;
    list-style: none;
}

.decorative-box {
    display: inline-block;
    width: auto;
    padding: 80px 20px;
    border: double 4px brown;
    text-align: center;
}

.recipe-list-element {
    margin: 13px;
}
